body {
    font-family: sans-serif;
}

.warn {
    border-radius: 2px;
    border: 1px solid #d4d4d4;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    background-color: #efef66;
    opacity: 0.9;
    color: red;
    font-size: 9pt;
    font-family: monospace;
}

#incompatible {
    position: fixed;
    top: 0;
    left: 0;
    width: auto;
    height: 20px;
    z-index: 100;
    padding: 1px 10px;
}

#noajax {
    position: fixed;
    top: 0;
    right: 0;
    width: auto;
    height: 20px;
    z-index: 100;
    padding: 1px 10px;
}

.test-content {
    display: none;
}